<!-- 43A- template do header, depois foi criado o core.module e colocado o app-header no app.component.html -->
<header class="fixed-top font-monospace">
  <div class="border-bottom border-3">
    <nav class="navbar navbar-light bg-white">
      <a class="navbar-brand mx-2">ALURAPIC</a>
      <!-- 49B- vai ser usao o ngIf para mostrar o nome do usuario sempre que estiver logado -->
      <!-- 50A- vai pegar o user$ e aplicar o pipe async e tratar ele como user, quando voce aplicar esse async no template o angular vai pegar o valor da incrição do obervable... 
    como se ele fizesse o subscrible pra voce , pegasse o valor e te dava ele direto. Agora vamos fazer o logout (user.service.t)  -->
      <div *ngIf="(user$ | async) as user; else login">
        <i class="fa fa-user-circle mx-1"></i>
        <!-- 48C- muda o nome do usuario no header de acordo com o login, {{user.name}} -->
        <a>{{user.name}} </a>
        <!-- 51D- boto de logout, depois vai ser realizado a segurança nas rotas  (auth.guard.ts) -->
        <a class="mx-3 navbar-text text-primary" (click)="logout()">Logout </a>
      </div>

      <!-- 49C- caso nao estiver logado, sera msotrado essa parte abaixo -->
      <ng-template #login>
        <span class="navbar-text">
          <!-- 54A- foi criada a rota de login utilizando o [routerLink]="['']", depois vai ser feito o singup -->
          <a class="mx-3 text-primary" [routerLink]="['']">Please, login!</a>
        </span>
      </ng-template>
    </nav>
    </div>
</header>
